//====================================================================================================
.header {
	padding-top: rem(30);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	color: #fff;

	@media (max-width:$mobile) {
		padding-top: rem(15);
	}

	// .header__container

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width:$laptop) {
			display: grid;
			grid-template-columns: 100px 1fr;
			grid-template-rows: repeat(4, auto);
			justify-items: end;
			gap: 15px;
		}


	}

	// .header__logo

	&__logo {
		width: 189px;
		height: 201px;

		@media (max-width:$laptop) {
			width: auto;
			height: auto;
			grid-row: 1/4;
		}




		img {
			width: 100%;
		}
	}

	// .header__phone

	&__phone {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;

		@media (max-width:$laptop) {
			grid-column: 2/3;
		}

		@media (max-width:$mobile) {
			display: none;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	// .header__mail

	&__mail {
		font-weight: 700;
		font-size: 17px;
		line-height: 21px;
		text-decoration-line: underline;
		color: #EF7608;

		@media (max-width:$laptop) {
			grid-column: 2/3;
		}

		@media (max-width:$mobile) {
			display: none;
		}

		&:hover {
			text-decoration: none;
		}
	}

	// .header__country

	&__country {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		color: #FFFFFF;
		display: flex;
		align-items: center;
		gap: 15px;
		white-space: nowrap;

		@media (max-width:$laptop) {
			display: none;
		}

		@media (max-width:$mobile) {
			display: none;
		}
	}

	// .header__button

	&__button {
		font-weight: 700;
		font-size: 25px;
		line-height: 30px;
		text-decoration-line: underline;
		text-transform: uppercase;
		color: #EF7608;

		@media (max-width:$laptop) {
			grid-column: 2/3;
		}

		@media (max-width:$mobile) {
			grid-column: auto;
			grid-row: auto;
		}

		@media (max-width: em(370)) {
			font-size: 20px;
		}

		&:hover {
			text-decoration: none;
		}
	}
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/